<div class="top">
  <div class="top-main">
    <div class="container">
      <div class="row-col-lg-6">
        <div class="form-fream">
          <div class="form-area">
            <p class="form-area-title mb-4">Potepan Shareでまだ体験したことのない旅をしよう</p>    
          </div>
        </div>
      </div>
    </div>  
  </div>

  <div class="container">
    <div class="panel-area m-5">
      <h1 class="section-title">おすすめのエリア</h1>

      <div class="row">
        <div class="panel-item col-lg-3 col-3">
          <span>東京</span>
          <img class="panel-image" src="/assets/tokyo.jpeg">
        </div> 

        <div class="panel-item col-lg-3 col-3">
          <span>大阪</span>
          <img class="panel-image" src="/assets/osaka.jpeg">
        </div> 
    
        <div class="panel-item col-lg-3 col-3">
          <span>京都</span>
          <img class="panel-image" src="/assets/kyoto.jpeg">
        </div> 

        <div class="panel-item col-lg-3 col-3">
          <span>札幌</span>
          <img class="panel-image" src="/assets/sapporo.jpeg">
        </div> 
      </div>
    </div>
  </div>  
</div>


